<!DOCTYPE html>
<html lang="es">

<!--
// -----------------------------------------------------------
// src/views/layouts/main.handlebars
//
// Vistas (Handlebars)
//
// Los onclick="location.href='/crud/Users'" etc de los botones
// deben estar definidos en routers/viewsRouter.js
// -----------------------------------------------------------
-->

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
      <link rel="icon" type="image/png+xml" href="../../img/IcoCoderShop.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  {{!-- // esta es la l铆nea luperior con botones comunes a todas las p谩ginas --}}
  <p class="lineaSupTit">
  
  {{!-- Ir al HOME --}}
  <button 
  class="btn-treal" 
  onclick="location.href='/'" 
  title="Ir a la Home">
   Home
</button>

{{!-- Ir a Real time products --}}
<button 
  class="btn-treal" /*  btn-separado */
  onclick="location.href='/realtimeproducts'" 
  title="Ir a ver p谩gina en Tiempo Real">
  Tiempo real
</button>

{{!-- Ir a ver productos con paginaci贸n --}}
<button 
  class="btn-treal" 
  onclick="location.href='/products'" 
  title="Ver esta p谩gina de productos con paginaci贸n">
  Con paginaci贸n
</button>

{{!-- CRUD usuarios  --}}
<button 
  class="btn-treal" 
  onclick="location.href='/crud/Users'" 
  title="CRUD usuarios">
  CRUD Users
</button>

{{!-- Login Identificaci贸n  --}}
<button 
  class="btn-treal" 
  onclick="location.href='/login'" 
  title="Login / Identificaci贸n">
  Login
</button>

{{!-- 
      Mostrar nombre del usuario autenticado (res.locals.user)
      y el bot贸n de salir de la sesi贸n solo si est谩 autenticado
--}}
  {{#if res.locals.user}}
      <!-- Usuario autenticado --> 
      <span>Hola, {{res.locals.user.first_name}} {{res.locals.user.last_name}}</span>

      {{!-- Logout / salir de la sesi贸n  --}}
      <form id="logoutForm" action="/api/sessions/logout" method="POST" style="display:inline;">
        <button type="submit" class="btn btn-danger"  title="Logoff / salir de la sesi贸n"> Logout</button>
      </form>
  {{else}}
      <!-- Usuario NO autenticado -->
      <span>Usuario no autenticado ...</span>
  {{/if}}



{{!-- Ir a probar los end points api/products y api/carts --}}
{{!-- <a href="./menuPrue.html" 
   target="menuPrue" 
   class="btn-treal" 
   title="Ir a probar los endpoints: api/products y api/carts">
  Ver endpoints
</a> --}}

  </p>
  <hr  class="lineaSupTit" >
  {{{body}}}
</body>
</html>